--
-- PostgreSQL database dump
--

\restrict IANHmhJZQq7bQmY7CPb0VESODXXC67eaq7AtGdffUeHihgpvv1XxkcqkjUOZh9g

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.jeans DROP CONSTRAINT jeans_product_id_key;
ALTER TABLE ONLY public.jeans DROP CONSTRAINT jeans_pkey;
ALTER TABLE public.jeans ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE public.jeans_id_seq;
DROP TABLE public.jeans;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: jeans; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.jeans (
    id integer NOT NULL,
    selling_price character varying(100),
    discount numeric(10,2),
    category_id integer,
    meta_info text,
    product_id character varying(255),
    pdp_url text,
    sku character varying(50),
    brand character varying(100),
    department_id integer,
    last_seen_date date,
    launch_on date,
    mrp character varying(100),
    product_name character varying(500),
    feature_image_s3 text,
    channel_id integer,
    feature_list text,
    description text,
    style_attributes text,
    pdp_images_s3 text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: jeans_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.jeans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: jeans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.jeans_id_seq OWNED BY public.jeans.id;


--
-- Name: jeans id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jeans ALTER COLUMN id SET DEFAULT nextval('public.jeans_id_seq'::regclass);


--
-- Data for Name: jeans; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: jeans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.jeans_id_seq', 151, true);


--
-- Name: jeans jeans_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jeans
    ADD CONSTRAINT jeans_pkey PRIMARY KEY (id);


--
-- Name: jeans jeans_product_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jeans
    ADD CONSTRAINT jeans_product_id_key UNIQUE (product_id);


--
-- PostgreSQL database dump complete
--

\unrestrict IANHmhJZQq7bQmY7CPb0VESODXXC67eaq7AtGdffUeHihgpvv1XxkcqkjUOZh9g

